/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Rubik",sans-serif; */
    font-family: "Poppins", sans-serif;
}
/* ********** Use for bootstrap */
p{
    margin-bottom: 0 !important;
}

hr{
    margin: 0 !important;
    opacity: 1 !important;
}
/* **************************** */

body{
    background-color: #F9F9FB;
}
/* Golbal Class */
.text-center{
    text-align: center;
}

.text-21{
    font-size: 21px;
}
.text-24{
    font-size: 24px;
}
.mb-10{
    margin-bottom: 10px;
}
.text-seventy-percent{
    opacity: 70%;
}
.bg-black{
    background-color: black;
}

/* Footer Css */

/* 1st part */

footer{
    width: 100%;
}

#footer-para{
    width: 100%;
    background-color: #030303;
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-top{
    margin: 20px 0 0 0;
}
#footer-para span{
    margin: 0 5px;
}
#footer-para span a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#footer-para span a:hover{
    color: #027AB1;
}
.text-28{
    font-size: 28px;
}

/* 2nd part*/

#footer-nav{
    width: 100%;
    height: 350px;
    background-color: #030303;
    display: flex;
    align-items: center;
}
.footer-nav-container{
    /* background-color: darkred; */
    width: 100%;
}
.footer-nav-conatiner-content{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    /* background-color: beige; */
}
#nav-container-1 h4{
    color: white;
}
#nav-container-box{
    display: flex;
    gap: 15px;
}
#nav-container-box p{
    margin: 15px 0;
}
#nav-container-box p a{
    text-decoration: none;
    color: white;
    opacity: 60%;
    font-size: 14px;
}
#nav-container-box p a:hover{
    border-bottom: 0.5px solid white;
}

/* 3rd part (copyright) */
#footer-copyright{
    width: 100%;
    height: 50px;
    background-color: #2B2C2D;
    display: flex;
    align-items: center;
}
.copyright-box{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    opacity: 50%;
}

/* ***************** Spotlight Section ****************** */


.spotlight{
    /* width: 66%; */
    margin: 3.1%;
    margin-top: 0;
}

.spotlight-heading{
    padding: 20px;
    color: #03A9F5;
    background-color: #ffffff;
    border: 1px solid gainsboro;
    border-radius: 15px 15px 0px 0px;
    font-weight: 700;
}

.spotlight-content{
    background-color: #ffffff;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    border-radius: 0px 0px 15px 15px;
}


.spotlight-content i{
    margin: 0 10px;
    color: #03A9F5;
    font-size: 10px;
    
}
.spotlight-content span{
    font-size: 13px;
    opacity: 80%;
}
.spotlight-content p{
    padding: 8px 0;
}
.spotlight-content p:hover{
    background-color: #E5F6FE;
    cursor: pointer;
}


/* ************************ Editor’s Picks Section ******************/

.main{
    /* width: 66%; */
    margin: 3.1%;
    margin-top:0;
}

.editor{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.3px;
}
.editor-heading{
    padding: 20px;
    color: #03A9F5;
    font-weight: 700;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 15px 15px 0px 0px;
}
.editor-body{
    padding: 30px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 0px 0px 15px 15px; 
    display: flex; 
    gap: 10px;
}

.editor-box{
    border: 2px solid #E8E8F0;
    border-radius: 6px;
    overflow: hidden;
}
.editor-box img{
    max-width: 100%;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.editor-box img:hover{
    transform: scale(1.1);
}


.editor-box-para{
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
.editor-box-para p{
    font-size: 16px;
    cursor: pointer;
}
.editor-box-para span{
    font-size: 12px;
    opacity: 60%;
}



/* ************************ In Depth Section ******************/

.depth{
    /* width: 66%; */
    margin: 3.1%;
    margin-top: 0;
}

.editor-box-head{
    margin: 10px 0px;
}
.editor-box-head span{
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    background-color: #E5F6FE;
    color: #030303;
    opacity: 100%;
}
.editor-box-para-link div{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.editor-box-para-link i{
    font-size: 9px;
    color: #03A9F5;
}
.editor-box-para-link a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.editor-box-para-link a:hover{
    color: #03A9F5;
}

/* ************************ Developer Section ******************/

.developer-container{
    /* width: 66%; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 3.1%;
    border: 1px solid gainsboro;
}

.developer-head{
    padding: 20px;
    color: #03A9F5;
    font-weight: 700;
    background-color: white;
}
.developer-body{
    display: flex;
    flex-direction: row;
    gap: 2px;

}
.developer-main-box{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.developer-box-1 h3{
    margin-bottom: 10px;
    color: #03A9F5;
    cursor: pointer;
}
.developer-box-1 p{
    cursor: pointer;
}
.developer-box-2 img{
    object-fit: cover;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in;
}
.developer-box-2 img:hover{
    transform: scale(1.06);
}
