*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Golbal Class */
.text-center{
    text-align: center;
}

/* Footer Css */

#footer-para{
    width: 100%;
    background-color: #030303;
    height: 300px;
    color: white;
}

#footer-para p{
    width: 50%;
    margin: auto;
    
    font-size: 20px;
}